<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name></display-name>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ShowAllBooksServlet</servlet-name>
    <servlet-class>cn.itcast.web.controller.ShowAllBooksServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>BuyServlet</servlet-name>
    <servlet-class>cn.itcast.web.controller.BuyServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ShowCartServlet</servlet-name>
    <servlet-class>cn.itcast.web.controller.ShowCartServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ChangeNumServlet</servlet-name>
    <servlet-class>cn.itcast.web.controller.ChangeNumServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DelOneServlet</servlet-name>
    <servlet-class>cn.itcast.web.controller.DelOneServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DelAllServlet</servlet-name>
    <servlet-class>cn.itcast.web.controller.DelAllServlet</servlet-class>
  </servlet>






  <servlet-mapping>
    <servlet-name>ShowAllBooksServlet</servlet-name>
    <url-pattern>/servlet/ShowAllBooksServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BuyServlet</servlet-name>
    <url-pattern>/servlet/BuyServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowCartServlet</servlet-name>
    <url-pattern>/servlet/ShowCartServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ChangeNumServlet</servlet-name>
    <url-pattern>/servlet/ChangeNumServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DelOneServlet</servlet-name>
    <url-pattern>/servlet/DelOneServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DelAllServlet</servlet-name>
    <url-pattern>/servlet/DelAllServlet</url-pattern>
  </servlet-mapping>	
  <welcome-file-list>
    <welcome-file>servlet/ShowAllBooksServlet</welcome-file>
  </welcome-file-list>
</web-app>
